server.port=8085

spring.mail.host=smtp.gmail.com
spring.mail.port=587

spring.mail.username={YOUR_EMAIL}

spring.mail.password={PASS_FOR_YOUR_MAILAPP}

spring.mail.properties.mail.smtp.auth=true          # Увімкнути SMTP аутентифікацію
spring.mail.properties.mail.smtp.starttls.enable=true # Увімкнути STARTTLS (для порту 587)

service.activation.uri=http://127.0.0.1:8086/mail/activation?id={id}

