server.port=8084

bot.name={NAME_YOU_NEED_TO_ADD}
bot.token={YOUR_TOKEN_HERE}


spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username={RABBITMQ_USER_NAME}
spring.rabbitmq.password={YOUR_PASS}

# Налаштування підключення до бази даних PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/{YOUR_NAME}
spring.datasource.username={NAME}
spring.datasource.password={PASSWORD}

# Налаштування JPA/Hibernate
spring.jpa.generate-ddl=true